.statistics-box {
    margin: 15px auto;
}
.statistics-small {
    @include min-screen(1200){
        .small-box {
            width: 180px;
            margin-right: 10px;
            display: inline-block;
        }
    }
}
.statistics-m {
    @include min-screen(1200){
    margin-left: 10px;
    }
    h4 {
        margin-top: 0;
    }
}
.small-box {
    color: color(black);
    h3 {
        @include font($fs * 2 - 1, bold);
        margin-bottom: 0;
        font-family: $ff_bold;
    }
    p {
        @include font($fs);
    }
}
.details-box {
    min-height: 445px;
    @include min-screen(1200){
        .col-lg-6.no-padding {
            &:first-child {
                padding-right: 7.5px!important;
            }
            &:last-child {
                padding-left: 7.5px!important;
            }
        }
    }
}