/*
 * Component: Button
 * -----------------
 */
.btn {
    @include borderRadius(3px);
    @include boxShadow(none);
    border: 1px solid transparent;
}
.btn.uppercase {
    text-transform: uppercase;
}
.btn.btn-flat {
    @include borderRadius(0);
    @include boxShadow(none);
    border-width: 1px;
}
.btn:active {
    @include boxShadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
}
.btn:focus {
    outline: none;
}
.btn.btn-file {
    position: relative;
    overflow: hidden;
}
.btn.btn-file > input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    @include font($fs * 8 + 4);
    text-align: right;
    @include opacity(0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-default {
    background-color: color(pink);
    color: color(white);
    border-color: color(pink);
}
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus,
.btn-default:focus,
.btn-default.hover {
    background-color: color(pink-light);
    color: color(white); 
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #367fa9;
}
.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
    background-color: #008d4c;
}
.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
    background-color: #00acd6;
}
.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.hover {
    background-color: #d73925;
}
.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.hover {
    background-color: #e08e0b;
}
.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}
.btn-link {
    @include boxShadow(none);
}
.btn[class*='bg-']:hover {
    @include boxShadow(inset 0 0 100px rgba(0, 0, 0, 0.2));
}
.btn-app {
    @include borderRadius(3px);
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    @include font($fs);
}
.btn-app > .fa,
.btn-app > .glyphicon,
.btn-app > .ion {
    @include font($fs * 2 - 4);
    display: block;
}
.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
    @include boxShadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
}
.btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    @include font($fs - 2, 400);
}