.cke {
    border: 0!important;
    .cke_button_icon {
        color: color(gray);
        @include font($fs + 4);
        background: transparent!important;
        cursor: pointer;
        text-align: center;
    }
    .cke_button__link_icon {
        @include transform(rotate(-90deg));
        &:before {            
            font-family: fontAwesome;
            content: "\f0c6";
            @include font($fs + 8);
        }
    }
    .cke_button__bold_icon {
        &:before {
            content: "B";
            font-weight: bold;
        }
    }
    .cke_button__italic_icon {
        &:before {
            font-style: italic;
            content: "i";
        }
    }
    .cke_button__bulletedlist_icon {
        &:before {
            font-family: fontAwesome;
            content: "\f0ca";
            font-weight: 100;
        }
    }
    .cke_button__image_icon {
        &:before {
            font-family: fontAwesome;
            content: "\f03e";
        }
    }
    .cke_bottom {
        border-top: 1px solid color(white-darker);
    }
    &.cke_focus {
        .cke_bottom {
            border-top: 1px solid color(pink);
        }
    }
    a {
        &.cke_button_off {
            &:hover, &:focus, &:active {
                background: transparent;
                border-color: transparent;
                .cke_button_icon {
                    color: color(black);
                }
            }
        }
    }
}
.empty-textarea .cke {
    &:not(.cke_focus) {
        height: 60px;
        overflow: hidden;
    }
}
.cke_editable {
    @include font($fs + 4);
}
.cke_toolbar {
    width: 100%;
}