a {
    color: color(pink);
    &.disabled{
        text-decoration: line-through;
        color: color(gray-lighter)!important;
        pointer-events: none;
    }
}
.content {
    padding: 20px;
    @include screen(767){
        padding: 20px 0;
    }
}
.content-header {
    background: transparent;
    @include boxShadow(none);
    padding: 20px 20px 0 20px;
    > h1 {
        > small {
            a {
                color: color(pink);
            }
        }
        > strong {
            @include font($fs, bold);
        }
    }
}
.content-head {
    position: relative;
    padding: 15px 20px 0;
}
.wrapper {
    background-color: color(white);
}
.main-sidebar,
.left-side {
    background-color: color(black);
}
.content-wrapper {
    background: color(white-darker);
}
.content-wrapper-big {
    @include min-screen(1200){
        margin-right: 380px;
    }
}
.control-sidebar-white,
.control-sidebar-white + .control-sidebar-bg {
    background: color(white);
}
.control-sidebar-bg, .control-sidebar {
    right: -300px;
    width: 300px;
    @include min-screen(1200){
        width: 380px;
    }
}
.control-sidebar {
    padding-top: 40px;
    &, & + .control-sidebar-bg {
        @include min-screen(1200){
            right: 0;
        }
    }
    &.control-sidebar-open, &.control-sidebar-open+.control-sidebar-bg {
        right: 0;
    }
    > .tab-content {
        padding: 20px 0;
    }
    .nav-tabs {
        border-bottom: 1px solid color(white-dark);
        > li {
            &.active,
            &:hover {
                > a {
                    &:hover {
                        background: transparent;
                        border-color: transparent;

                    }
                    &.info-circle:before{
                        color: color(pink);
                    }
                    &.paperclip:before {
                        content: "\f0c6";
                        color: color(pink);
                    }
                    &.key:before {
                        content: "\f084";
                        color: color(pink);
                    }
                    &.star:before {
                        content: "\f005";
                        color: color(yellow-light);
                    }
                    &.bullseye:before {
                        color: color(mint-light);
                    }
                    &.members:before {
                        color: color(blue);
                    }
                    &.timer:before {
                        color: color(mint-lighter);
                    }
                }
            }
            > a {
                padding: 10px 0;
                background: transparent;
                border-color: transparent;
                &:before {
                    @include font($fs + 6);
                    font-family: FontAwesome;
                }
                &.info-circle:before{
                    content: "\f05a";
                }
                &.paperclip {
                    @include transform(rotate(90deg));
                    &:before {
                        content: "\f0c6";
                    }
                }
                &.key{
                    @include transform(rotate(90deg));
                    &:before {
                        content: "\f084";   
                    }
                }
                &.star:before {
                    content: "\f006";
                }
                &.bullseye:before {
                    content: "\f140";
                }
                &.members:before {
                    content: "\f2c0";
                }
                &.timer:before {
                    content: "\f017";
                }
            }
        }
    }
    .control-sidebar-heading {
        @include font($fs, bold);
        font-family: $ff_bold;
        padding: 0 10px;
        span {
            @include font($fs, 100);
            font-family: $ff_regular;
            &.text-muted {
                @include font($fs - 2, 100);
            }
        }
    }
    .control-sidebar-tabs {
        .btn {
            margin-bottom: 10px;
        }
    }
    .info-btn {
        width: 100%;
        .btn {
            display:none;
            &.active {
                display: block;
            }
        }
    }
    .info-btn,
    .share-box {
        .label {
            display:none;
            &.active {
                display: block;
            }
            &.code {
                display: block!important;
                padding: .3em .8em .3em 0;
            }
        }
    }
    .share-box {
        width: 100%;
    }
    #share {
        width: 100%;
        margin-bottom: 10px;
        .share_input {
            padding: 0 10px;
            border: 1px solid color(gray);
            @include calc('width', '100% - 26px');
            input {
                border: 0;
                outline: 0;
                @include calc('width', '100% - 26px');
                line-height: $lh20 + 4;
            }
            .btn {
                padding: 0 0 0 10px;
            }
        }
        .btn {
            padding: 3px 0 3px 10px;
            width: 26px;
            color: color(gray-lighter);
            &:active,
                &:focus {
                @include boxShadow(none);
            }
        }
    }
    .members {
        .hover_employee {
            display: none;
        }
        .add_employees {
            margin-top: 25px;
            margin-left: 10px;
        }
        .chat {
            padding: 5px 0;
            .item {
                margin:0;
                padding: 5px 10px;
                position: relative;
                &:hover {
                    background: color(white-darkness);
                    .hover_employee {
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        margin-top: -9px;
                        color: color(gray-lighter);
                        @include font($fs, 500);
                        line-height: 1.5;
                    }
                }
            }
        }
        #members {
            float: left;
            width: 100%;
            margin-top: 60px;
            border-top: 1px solid color(white-darker);
            .search_employees {
                float: left;
                width: 100%;
                padding: 15px 10px;
            }
            .search {
                width: 100%;
                border: 1px solid color(white-darker);
                outline: 0;
                @include font($fs + 2);
                color: color(black);
                padding: 5px;
            }
        }
    }
}
.timer_full {
    background: color(white);
    @include boxShadow(0 0 4px 0 rgba(0, 0, 0, 0.1));
    float: left;
    width: 100%;
    margin-bottom: 10px;
    .timer_title {
        margin: 15px 20px;
        color: color(black);
    }
    .timer_total {
        margin: 15px 20px;
        color: color(black);
        .text-muted {
            @include font($fs - 2);
            padding: 3px 5px;
            vertical-align: text-top;
        }
    }
    .timer_list {
        list-style:none;
        padding:0;
        margin:0;
        li {
            float: left;
            width: 100%;
            background: color(white-darkness);
            &:nth-child(even){
                background: color(white);
            }

            ul {
                list-style:none;
                padding:0;
                margin:0;
                -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.1) inset;
                box-shadow: 0 0 2px 1px rgba(0,0,0,0.1) inset;
                li {
                    background: color(rose);
                    &:first-child {
                        .timer_list_item {
                            @include boxShadow(0 -2px 2px 0 rgba(0, 0, 0, 0.1));
                        }
                    }
                    &:last-child {
                        .timer_list_item {
                            @include boxShadow(0 2px 2px 0 rgba(0, 0, 0, 0.1));
                        }
                    }
                }
            }
            &.has_count{
                .timet_title {
                    padding-left: 50px;
                    @include screen(767){
                        padding-left: 0px;
                    }
                }
            }
            &:not(.has_count){
                .timet_info {
                    width: 100%!important;
                }
            }
        }
        .timer_list_item {
            padding: 5px 140px 5px 10px;
            position: relative;
            float: left;
            width: 100%;
            &:hover {
                .timet_control,
                .ticket_timer_comment_length{
                    display: block;
                }
            }      
        }
        .count {
            border: solid 1px color(gray);
            background: color(white);
            @include borderRadius(50%);
            color: color(black-light);
            display: inline-block;
            padding: 4px 9px;
            position: absolute;
            top: 50%;
            left: 10px;
            margin-top: -13.5px;
        }
        .timet_control {
            display: none;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
            .stop {
                display: none;
            }
            &.active {
                display: block;
                .stop {
                    display: block;
                }
                .play {
                    display: none;
                }
            }
            .fa {
                float: right;
            }
        }
        .ticket_timer_comment {
            color: color(black);
            @include font($fs - 2);
            padding-right: 70px;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -7px;
            &.ticket_timer_comment_length {
                margin-top: 4px;
                display: none;
            }
        }
        .timet_info {
            margin: 5px 0 0;
        }
        .timet_title {
            margin: 5px 0;
        }
    }
}
.fa-timer {
    color: color(gray);
    cursor: pointer;
    margin-right: 15px;
    @include font($fs + 8);
    line-height: $lh20;
    &.none {
        cursor: default;
    }
}
.timet_info {
    display: inline-block;
    color: color(gray-lighter);
    line-height: 1;
    @include font($fs - 2);
    margin: 0 10px;
}
.main-footer {
    min-height: 50px;
    .ticket_timer {
        display: inline-block;
        @include font($fs + 2);
        color: black;
        line-height: $lh20;
        margin: 0 5px;
        vertical-align: text-bottom;
    }
}
.attachments-list {
    .list-group-item {
        padding: 10px 20px 10px 10px;
        border:0;
        &:nth-child(odd){
            background: color(white-darker);
        }
    }
    .badge {
        background: transparent;
        color: color(gray-lighter);
    }
}
.chat {
    padding: 5px 10px;
    .table {
        max-width: 225px;
        tfoot {
            th {
                border-top: 1px solid color(gray-lighter);
            }
        }
    }
    .user_info {
        line-height: $lh20 - 2;
        .fa {
            margin-left: 10px;
            @include font($fs + 2, bold);
        }
    }
    .name {
        margin-right: 10px;
        color: color(black-light);
    }
}
.user-panel {
    > .info {
        &,
        > a {
            color: #fff;
        }
    }
}
.page-header {
    margin: 10px 0 20px 0;
    @include font($fs * 2 - 2);
    > small {
        color: color(black-lighter);
        display: block;
        margin-top: 5px;
    }
}
.box-center {
    @include calc('height','100% - 40px');
    @include calc('height','100vh - 40px');
    min-height: 500px;
    h2 {
        @include font($fs * 3 - 1);
        margin-bottom: 36px;
        color: color(gray-lighter);
    }
    h3 {
        @include font($fs + 8);
        color: color(black);
    }
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.mb-auto, .my-auto {
    margin-bottom: auto!important;
    margin-top: auto!important;
}
.dropdown-menu {
    @include boxShadow(0 2px 2px 0 rgba(222, 222, 222, 0.5));
    > li {
        > a {
            &:hover {
                background-color: color(gray); 
            }
        }
    }
}
.box-form {
    background: color(white);
    padding: 20px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.back {
    @include font($fs);
    line-height: 1.5;
    color: color(pink);
    margin-bottom: 10px;
    display: inline-block;
    @include screen(768){
        float: left;
        line-height: 26px;
        padding: 0 10px;
        background: color(white);
        margin-right: 10px;
        @include borderRadius(4px);
    }
}
.bottom_menu {
    position: absolute;
    left: 45px;
    bottom: 25px;
    a {
        color: color(gray-lighter);
        @include font($fs - 2);
        line-height: 1.9;
        padding:0;
        &:hover, &:focus, &:active {
            color: color(white);
            background: transparent;
        }
    }
}
.label {
    color: color(black);
    @include font($fs);
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: color(lime-green) !important;
}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: color(blue) !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: color(red-light) !important;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: color(pink);
    border-color: color(pink);
}
.label-spent {
    background-color: color(lime-dark) !important;
    color: color(white);
}
.toast-top-right {
    top: 45px;
    right: 20px;
}
.avatar-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 0 15px 15px;
    .delete-avatar {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: color(gray);
        @include font($fs + 6);
        cursor: pointer;
    }
    .avatar-img {
        @include borderRadius(50%);
        width: 150px;
        height: 150px;
        margin: 0 auto;
        text-align:center;
        background: color(lime-whiter);
        position: relative;   
        .avatar-name {
            color: color(white);
            @include font($fs * 5, bold);
            font-family: $ff_medium;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            margin-top: -42.5px;
        }
    }
}
.list_skill {
    h3 {
        @include font($fs + 2);
        margin-bottom: 15px;
        margin-top: 30px;
    }
    .label {
        color: color(white);
        @include font($fs, bold);
    }
}
.col-xs-offset-right-12 {
    margin-right: 100%;
}
.col-xs-offset-right-11 {
    margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
    margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
    margin-right: 75%;
}
.col-xs-offset-right-8 {
    margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
    margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
    margin-right: 50%;
}
.col-xs-offset-right-5 {
    margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
    margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
    margin-right: 25%;
}
.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
    margin-right: 0;
}
@media (min-width: 768px) {
    .col-sm-offset-right-12 {
        margin-right: 100%;
    }
    .col-sm-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-sm-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-sm-offset-right-9 {
        margin-right: 75%;
    }
    .col-sm-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-sm-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-sm-offset-right-6 {
        margin-right: 50%;
    }
    .col-sm-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-sm-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-sm-offset-right-3 {
        margin-right: 25%;
    }
    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-md-offset-right-9 {
        margin-right: 75%;
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-md-offset-right-6 {
        margin-right: 50%;
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-md-offset-right-3 {
        margin-right: 25%;
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-md-offset-right-0 {
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .col-lg-offset-right-12 {
        margin-right: 100%;
    }
    .col-lg-offset-right-11 {
        margin-right: 91.66666667%;
    }
    .col-lg-offset-right-10 {
        margin-right: 83.33333333%;
    }
    .col-lg-offset-right-9 {
        margin-right: 75%;
    }
    .col-lg-offset-right-8 {
        margin-right: 66.66666667%;
    }
    .col-lg-offset-right-7 {
        margin-right: 58.33333333%;
    }
    .col-lg-offset-right-6 {
        margin-right: 50%;
    }
    .col-lg-offset-right-5 {
        margin-right: 41.66666667%;
    }
    .col-lg-offset-right-4 {
        margin-right: 33.33333333%;
    }
    .col-lg-offset-right-3 {
        margin-right: 25%;
    }
    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }
    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }
    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}