.skin-form {
    position: relative;
    font-family: $ff_regular;
    display: inline-block;
    width: 100%;
    input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.skin-textarea {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid color(gray);
        @include borderRadius(0);
        outline: 0;
        height: 2.1rem;
        width: 100%;
        font-size: 1.5rem;
        @include boxShadow(none);
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        @include transition(all .3s);
    }
    input[type=date]+label:after, input[type=datetime-local]+label:after, input[type=email]+label:after, input[type=number]+label:after, input[type=password]+label:after, input[type=search-md]+label:after, input[type=search]+label:after, input[type=tel]+label:after, input[type=text]+label:after, input[type=time]+label:after, input[type=url]+label:after, textarea.skin-textarea+label:after {
        display: block;
        content: "";
        position: absolute;
        top: 65px;
        @include opacity(0);
        @include transition(.2s opacity ease-out,.2s color ease-out);
    }
    input[type=text]:focus:not([readonly]),
        input[type=password]:focus:not([readonly]),
        input[type=email]:focus:not([readonly]),
        input[type=url]:focus:not([readonly]),
        input[type=time]:focus:not([readonly]),
        input[type=date]:focus:not([readonly]),
        input[type=datetime-local]:focus:not([readonly]),
        input[type=tel]:focus:not([readonly]),
        input[type=number]:focus:not([readonly]),
        input[type=search-md]:focus:not([readonly]),
        input[type=search]:focus:not([readonly]),
        textarea.skin-textarea:focus:not([readonly]) {
        border-bottom: 1px solid color(pink);
        @include boxShadow(0 1px 0 0 color(pink));
    }
    input[type=text]:focus:not([readonly]) + label,
        input[type=password]:focus:not([readonly]) + label,
        input[type=email]:focus:not([readonly]) + label,
        input[type=url]:focus:not([readonly]) + label,
        input[type=time]:focus:not([readonly]) + label,
        input[type=date]:focus:not([readonly]) + label,
        input[type=datetime-local]:focus:not([readonly]) + label,
        input[type=tel]:focus:not([readonly]) + label,
        input[type=number]:focus:not([readonly]) + label,
        input[type=search-md]:focus:not([readonly]) + label,
        input[type=search]:focus:not([readonly]) + label,
        textarea.skin-textarea:focus:not([readonly]) + label {
        color: color(gray-lighter);
    }
    [role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
        -ms-touch-action: manipulation;
        touch-action: manipulation;
    }
    label {
        @include transition(.2s ease-out);
        color: color(gray-lighter);
        font-size: $fs1em;
        cursor: text;
        margin: .5rem auto;
        sup {
            color: color(red);
        }
    }
    .btn {
        margin-bottom: 1.5rem;
    }
    &.input-group {
        padding-left: 1rem; 
        &::-webkit-input-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &:-moz-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &::-moz-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &::-ms-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &::-webkit-input-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &::-moz-placeholder {
            color: color(dark-grey);
            padding-top: 2px; }
        &:-ms-input-placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
        &::placeholder {
            color: color(dark-grey);
            padding-top: 2px;
        }
    }
    .form-control {
        padding: .5rem 0 .6rem;
        font-size: 1rem;
        line-height: 1.5;
        background-color: transparent;
        background-image: none;
        @include borderRadius(0);
        margin-top: .2rem;
        margin-bottom: .3rem;
        width: 100%;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        &:focus {
            background: transparent;
            @include boxShadow(none);
        }
        &:disabled, &[readonly] {
            background-color: transparent;
            border-bottom: 1px solid color(gray);
        }
        &.mobile {
            @include calc('width', '100% - 60px');
        }
    }
    .form-control, .form-control-file, .form-control-range, .form-text {
        display: block;
    }
    .form-group {
        display: block;
    }
    .form-inline {
        fieldset {
            margin-right: 1.5rem;
        }
    }
    .form-inline {
        .form-group {
            margin-right: 2rem;
        }
    }
    textarea {
        width: 100%;
        height: 3rem;
        background-color: transparent;
        resize: vertical;
        &.skin-textarea {
            overflow: hidden;
            margin-top: 1.6rem;
            padding: 0;
            resize: none;
            /*min-height: 3rem;*/
        }
    }
    .ihelp {
        @include font($fs - 2);
        color: color(gray-lighter);
        line-height: 2.1rem;
        padding-top: .5rem;
        padding-bottom: .6rem;
        margin-top: .2rem;
        margin-bottom: 3rem;
    }
    .skin-input {
        position: relative;
        label {
            position: absolute;
            top: .8rem;
            left: 0;
            &.active {
                -webkit-transform: translateY(-140%);
                -ms-transform: translateY(-140%);
                transform: translateY(-140%);
                @include font($fs - 2);
            }
        }
    }
    .estimate-box {
        width: 100%;
        padding: 10px;
        border-top: 1px solid color(white-dark);
        .btn {
            margin: 0;
        }
        .estimate-btn {
            max-width: 240px;
        }
        #estimate_select {
            .select2-container {
                margin-right: 20px;
                width: 100px!important;
            }
        }
    }
    .js-country-templating {
        position:relative;
        width: 60px;
        &:after {
            content: '+';
            position: absolute;
            top: 50%;
            right: 2px;
            margin-top: -14px;
            @include font($fs + 8);
        }
        .select2-container {
            margin-right: 0;
        }
        .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
            width: 60px;
            min-width: 60px;
            height: 35px;
        }
    }
    .mobile_after {
        @include min-screen(768){
            margin-top: 25px;
        }
    }
    .checkbox {
        input[type=checkbox] {
            @include opacity(0);
            position: absolute;
            margin: 0;
            z-index: -1;
            width: 0;
            height: 0;
            overflow: hidden;
            left: 0;
            pointer-events: none;
        }
        label {
            cursor: pointer;
            color: color(black);
        }
        .checkbox-box {
            vertical-align: middle;
            position: relative;
            top: 1px;
            padding-right: 5px;
            display: inline-block;
            &:before {
                display: block;
                position: absolute;
                left: 0;
                content: "";
                background-color: rgba(0, 0, 0, 0.84);
                height: 20px;
                width: 20px;
                z-index: 1;
                margin: 0;
                top: 0;
                @include opacity(0);
                @include transform(scale3d(2.3,2.3,1));
                @include borderRadius(100%);
            }
            .check {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 1px solid color(pink);
                overflow: hidden;
                z-index: 1;
                @include borderRadius(3px);
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    margin-top: -3px;
                    margin-left: 7px;
                    width: 0;
                    height: 0;
                    background: red;
                    @include boxShadow(0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset);
                    @include animation(checkbox-off 0.3s forwards);
                    @include transform(rotate(45deg));
                }
            }
        }
        input[type=checkbox]:focus + .checkbox-box .check:after {
            @include opacity(0.2);
        }
        input[type=checkbox]:checked + .checkbox-box .check {
            background: color(pink);
        }
        input[type=checkbox]:checked + .checkbox-box .check:before {
            color: color(white);
            @include boxShadow(0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px);
            @include animation(checkbox-on 0.3s forwards);
        }
        input[type=checkbox]:checked + .checkbox-box:before {
            @include animation(rippleOn 500ms);
        }
        input[type=checkbox]:checked + .checkbox-box .check:after {
            @include animation(rippleOn 500ms forwards);
        }
        input[type=checkbox]:not(:checked) + .checkbox-box:before,
        input[type=checkbox]:not(:checked) + .checkbox-box .check:after {
            @include animation(rippleOff 500ms);
        }
        input[type=checkbox][disabled] ~ .checkbox-box .check {
            border-color: color(black);
            @include opacity(.26);
        }
        input[type=checkbox][disabled] + .checkbox-box .check:after {
            background-color: rgba(0,0,0, 0.87);
            @include transform(rotate(-45deg))
        }
    }
}