.main-header {
    @include boxShadow(0px 1px 1px rgba(0, 0, 0, 0.05));
    .logo {
        .sidebar-toggle {
            color: color(white);
        }
    }
    .search-form {
        margin: 2.5px 15px;
        max-width: 65px;
        float: left;
        input[type="text"],
        .btn {
            height: 35px;
            color: color(black-lighter);
            background: transparent;
        }
        input[type="text"] {
            color: color(black-lighter);
            border: 0;
            outline: 0;
            &:focus {
                &, & + .input-group-btn .btn {
                    color: color(black-light);
                }
            }
        }
        .btn {

        }
    }
    &.sidebar-collapse {
        .sidebar-toggle {
            @include transform(rotate(45deg))
        }
    }
    .navbar-toggle {
        color: #333;
    }
    .navbar-brand {
        color: #333;
        border-right: 1px solid #eee;
    }
    .navbar {
        background-color: color(white);
        border-bottom: 1px solid color(pink);
        .nav {
            > li {
                > a {
                    color: #333333;
                    padding: 10px 15px;
                    &:hover,
                        &:active,
                        &:focus {
                        background: color(white);
                        color: color(dark-grey)999;
                    }
                }
            }
            .open {
                > a {
                    &, &:hover, &:focus {
                        background: color(white);
                        color: color(dark-grey)999;
                    }
                    > .active {
                        > a {
                            background: color(white);
                            color: color(dark-grey)999;
                        }
                    }
                }    
            }
        }
    }

    .sidebar-toggle {
        color: color(white);
        font-weight: normal;
        @include transition(transform 0.5s ease);
        @include screen(767) {
            color: color(black);
            &:before {
                content: "\f0c9";
            }
        }
        @include min-screen(767) {
            position: absolute;
            right: 15px;
            padding: 0;
        }
    }
    li {
        &.user-header {
            background-color: #222;
        }
    }
    .navbar-custom-menu {
        .notifications-menu {
            .label {
                background: color(dark-coral);
                @include borderRadius(50%);
                @include font($fs - 2);
                padding: 3px 4px;
                top: 6px;
                right: 10px;
                color: color(white);
            }
            .fa {
                @include font($fs + 6);
            }
            .dropdown-menu {
                width: 320px;
                border-top: 1px solid color(pink);
                li {
                    &.header {
                        line-height: 1.5;
                        padding: 11px 20px;
                        @include font($fs, bold);
                        color: color(black);
                        font-family: $ff_bold;
                    }
                }
                small {
                    @include font($fs - 2);
                    color: color(gray-lighter);
                }
                a {
                    position: relative;
                    padding: 4px 20px;
                    .label {
                        position: absolute;
                        top: 50%;
                        margin-top: -8px;
                        right: 20px;
                    }
                }
                .label {
                    background: color(pink);
                    @include borderRadius(2px);
                }
                h6 {
                    margin: 0;
                }
            }
        }
        .user-menu {
            .dropdown-menu {
                width: 180px;
                border-top: 1px solid color(pink);
                border-right: 1px solid color(silvering);
                border-bottom: 1px solid color(silvering);
                border-left: 1px solid color(silvering);
                a {
                    padding: 15px 20px;
                    color: color(silver);
                    @include font($fs);
                }
                .top-border {
                    border-top: 1px solid color(silvering);
                }
            }
        }
        .control-menu {
            .dropdown-menu {
                right: 0!important;
                a {
                    @include font($fs);
                    color: color(silver);
                    padding: 15px 20px;
                    .fa {
                        @include font($fs + 4);
                    }
                }
            }
        }
        > .navbar-nav {
            > li {
                > .dropdown-menu {
                    top: 41px;
                }
            }
        }
    }
}