.main-sidebar{
    @include screen(767){
        padding-top: 50px;
    }
    .sidebar {
        a {
            color: color(gray-lighter);
            &:hover {
                text-decoration: none;
            }
        }
        .logo {
            @include transition(width 0.3s ease-in-out);
            display: block;
            float: left;
            height: 40px;
            font-size: 15px;
            font-weight: 900;
            line-height: 35px;
            width: 230px;
            font-family: "GothamProBlack";
            padding: 0 15px;
            overflow: hidden;
            letter-spacing: -0.8px;
            a {
                color: color(pink-light);
            }
        }
    }
    .sidebar-menu {
        > li{
            > a{
                color: color(gray-lighter);
                line-height: 35px;
                padding: 0 16px;
                position: relative;
                > .fa-angle-left, > .pull-right-container > .fa-angle-left {
                    margin: 0;
                    @include font($fs + 6);
                    line-height: 35px;
                    color: color(white);
                }
                >.pull-right-container {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -17.5px;
                }
            }
            &:hover,
                &.active,
                &.menu-open {
                > a {
                    color: color(white);
                }
            }
            &.active{
                > a {
                    background: color(pink);
                }
            }
            > .treeview-menu {
                margin: 0 1px;
            }
        }
        .treeview-menu {
            > li {
                > a {
                    margin: 0;
                    line-height: 35px;
                    padding-left: 26px;
                    &:hover {
                        color: color(white);
                    }
                }
                &.active {
                    > a{
                        color: color(white);
                    }
                }
            }
        }
    }
}