.day-schedule-selector {
    margin-top: 15px;
}
.schedule-header {
    width: 100px;
    float: left;
    padding: 2.5px 0;
    th {
        float: left;
        width: 100%;
        @include font($fs, 500);
        font-family: $ff_bold;
        line-height: $lh20;
    }
}
.schedule-rows {
    float: left;
    @include calc('width', '100% - 100px');
    .time-label {
        display: none;
    }
    tr {
        width: 20px;
        padding: 5px;
        float: left;
    }
    td {
        width: 15px;
        height: 15px;
        margin: 0 0 5px;
        background-color: color(gray);
        cursor: pointer;
        float: left;
        @include borderRadius(2px);
        &[data-selected],
        &[data-selecting] {
            background-color: color(lime-light);
        }
        &[data-disabled] {
            @include opacity(.6);
        }
    }
}
