.select2-container--default, .select2-selection {
    .select2-selection--single {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid color(gray);
        padding-left: 0;
        min-width: 90px;
    }
}
.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            b {
                border: 0;
                font-family: fontAwesome;
                width: 100%;
                height: 100%;
                margin-top: -8px;
                &:before {
                    content: "\f078";
                }
            }
        }
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: color(pink);
        color: white;
    }
    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b{
                    &:before {
                        content: "\f077";
                    }
                }
            }
        }
    }
}