.table {
    background: color(white);
    thead {
        background: color(pink);
        tr {
            th {
                color: color(white);
                @include font($fs);
                a {
                    color: color(white);
                }
                &.reset:hover {
                    background: rgba(255,255,255,0.2);
                }
            }
        }
    }
    &.table-striped {
        >tbody {
            >tr {
                &:nth-of-type(odd) {
                    background-color: color(white-darkness);
                }
                td {
                    a {
                        color: color(pink);
                    }
                }
            }
        }
    }
    &.table-hover {
        >tbody {
            >tr {
                &:hover {
                    background-color: color(white-darkness);
                }
            }
        }
    }
    &.table-2w4 {
        @include min-screen(1200){
        th, td {
            &:nth-child(2) {
                width: 40%;
            }
        }
        }
    }
    &.table-2w6 {
        @include min-screen(1200){
        th, td {
            &:nth-child(2) {
                width: 60%;
            }
        }
        }
    }
    &.table-2w8 {
        @include min-screen(1200){
        th, td {
            &:nth-child(2) {
                width: 80%;
            }
        }
        }
    }
    &.table-3w4 {
        @include min-screen(1200){
        th, td {
            &:nth-child(3) {
                width: 40%;
            }
        }
        }
    }
    &.table-3w6 {
        @include min-screen(1200){
        th, td {
            &:nth-child(3) {
                width: 60%;
            }
        }
        }
    }
}
@include screen(768){
    .table-responsive {
        border: 0;
    }
}