.nav-tabs {
    border-bottom: 0;
    >li {
        margin-bottom: 0;
        &.active {
            >a {
                &, 
                &:focus, 
                    &:hover {
                    border-color: color(white);
                    color: color(pink);
                }
            }
        }
        > a {
            color: color(black-light);
            @include font($fs + 2);
            line-height: 1.29;
        }
    }
}