/*
 * Component: alert
 * ----------------
 */
.alert {
    @include borderRadius(3px);
    h4 {
        font-weight: 600;
    }
    .icon {
        margin-right: 10px;
    }
    .close {
        color: color(black);
        @include opacity(0.2);
        &:hover {
            @include opacity(0.5);
        }
    }
    a {
        color: color(white);
        text-decoration: underline;
    }
}
.alert-success {
    border-color: #008d4c;
}
.alert-danger,
.alert-error {
    border-color: #d73925;
}
.alert-warning {
    border-color: #e08e0b;
}
.alert-info {
    border-color: #00acd6;
}