/*
 * Component: Small Box
 * --------------------
 */
.small-box {
    @include borderRadius(2px);
    position: relative;
    display: block;
    margin-bottom: 20px;
    @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
    > .inner {
        padding: 10px;
    }
    > .small-box-footer {
        position: relative;
        text-align: center;
        padding: 3px 0;
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        display: block;
        z-index: 10;
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
        &:hover {
            color: #fff;
            background: rgba(0, 0, 0, 0.15);
        }
    }
    h3 {
        @include font($fs * 3 + 2, bold);
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }
    p {
        @include font($fs + 3);
        > small {
            display: block;
            color: #f9f9f9;
            @include font($fs + 1);
            margin-top: 5px;
        }
    }
    h3,
    p {
        z-index: 5;
    }
    .icon {
        @include transition(all 0.3s linear);
        position: absolute;
        top: -10px;
        right: 10px;
        z-index: 0;
        @include font($fs * 8 - 6);
        color: rgba(0, 0, 0, 0.15);
    }
    &:hover {
        text-decoration: none;
        color: #f9f9f9;
        .icon {
            @include font($fs * 8 - 1);
        }
    }
    @include screen(767) {
        text-align: center;
        .icon {
            display: none;
        }
        p {
            @include font($fs);
        }
    }
}

/*
 * Component: Box
 * --------------
 */
.box {
    position: relative;
    @include borderRadius(3px);
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
    &.box-primary {
        border-top-color: #3c8dbc;
    }
    &.box-info {
        border-top-color: #00c0ef;
    }
    &.box-danger {
        border-top-color: #dd4b39;
    }
    &.box-warning {
        border-top-color: #f39c12;
    }
    &.box-success {
        border-top-color: #00a65a;
    }
    &.box-default {
        border-top-color: #d2d6de;
    }
    &.collapsed-box {
        .box-body,
        .box-footer {
            display: none;
        }
    }
    .nav-stacked {
        > li {
            border-bottom: 1px solid #f4f4f4;
            margin: 0;
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
    &.height-control {
        .box-body {
            max-height: 300px;
            overflow: auto;
        }
    }
    .border-right {
        border-right: 1px solid #f4f4f4;
    }
    .border-left {
        border-left: 1px solid #f4f4f4;
    }
    &.box-solid {
        border-top: 0;
        > .box-header {
            .btn {
                &.btn-default {
                    background: transparent;
                }
            }
            .btn:hover,
                a:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
        &.box-default {
            border: 1px solid #d2d6de;
            > .box-header {
                color: #444444;
                background: #d2d6de;
                background-color: #d2d6de;
                a,
                .btn {
                    color: #444444;
                }
            }
        }
        &.box-primary {
            border: 1px solid #3c8dbc;
            > .box-header {
                color: #ffffff;
                background: #3c8dbc;
                background-color: #3c8dbc;
                a,
                .btn {
                    color: #ffffff;
                }
            }
        }
        &.box-info {
            border: 1px solid #00c0ef;
            > .box-header {
                color: #ffffff;
                background: #00c0ef;
                background-color: #00c0ef;
                a,
                .btn {
                    color: #ffffff;
                }
            }
        }
        &.box-danger {
            border: 1px solid #dd4b39;
            > .box-header {
                color: #ffffff;
                background: #dd4b39;
                background-color: #dd4b39;
                a,
                .btn {
                    color: #ffffff;
                }
            }
        }
        &.box-warning {
            border: 1px solid #f39c12;
            > .box-header {
                color: #ffffff;
                background: #f39c12;
                background-color: #f39c12;
                a,
                .btn {
                    color: #ffffff;
                }
            }
        }
        &.box-success {
            border: 1px solid #00a65a;
            > .box-header {
                color: #ffffff;
                background: #00a65a;
                background-color: #00a65a;
                a,
                .btn {
                    color: #ffffff;
                }
            }
        }
        > .box-header {
            > .box-tools {
                .btn {
                    border: 0;
                    @include boxShadow(none);
                }
            }
        }
        &[class*='bg'] {
            > .box-header {
                color: #fff;
            }
        }
    }
    .box-group {
        > .box {
            margin-bottom: 5px;
        }
    }
    .knob-label {
        text-align: center;
        color: #333;
        @include font($fs, 100);
        margin-bottom: 0.3em;
    }
    > .overlay,
    > .loading-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .overlay {
        z-index: 50;
        background: rgba(255, 255, 255, 0.7);
        @include borderRadius(3px);
        > .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: #000;
            @include font($fs * 3 - 6);
        }
        &.dark{
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
.overlay-wrapper {
    > .overlay,
    > .loading-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }  
    .overlay {
        z-index: 50;
        background: rgba(255, 255, 255, 0.7);
        @include borderRadius(3px);
        > .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            color: #000;
            @include font($fs * 3 - 6);
        }
        &.dark{
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
    clear: both;
}
.collapsed-box {
    .box-header.with-border {
        border-bottom: none;
    }
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    &.with-border {
        border-bottom: 1px solid #f4f4f4;
    }
    > .fa,
    > .glyphicon,
    > .ion,
    .box-title {
        display: inline-block;
        @include font($fs + 6);
        margin: 0;
        line-height: 1;
    }
    > .fa,
    > .glyphicon,
    > .ion {
        margin-right: 5px;
    }
    > .box-tools {
        position: absolute;
        right: 10px;
        top: 5px;
        [data-toggle="tooltip"] {
            position: relative;
        }
        &.pull-right {
            .dropdown-menu {
                right: 0;
                left: auto;
            }
        }
        .dropdown-menu {
            > li {
                > a {
                    color: #444!important;
                }
            }
        }
    }
}
.open {
    .btn-box-tool {
        color: #606c84;
    }
}
.btn-box-tool {
    padding: 5px;
    @include font($fs);
    background: transparent;
    color: #97a0b3;
    &:hover {
        color: #606c84;
    }
    &.btn {
        &:active {
            @include boxShadow(none);
        }
    }
}
.no-header {
    .box-body {
        @include borderRadius(3px,3px,0,0);
    }
}
.box-body {
    @include borderRadius(0,0,3px,3px);
    padding: 10px;
    > .table {
        margin-bottom: 0;
    }
    .fc {
        margin-top: 5px;
    }
    .full-width-chart {
        margin: -19px;
    }
    &.no-padding {
        .full-width-chart {
            margin: -9px;
        }   
    }
    .box-pane {
        @include borderRadius(0,0,0,3px);
    }
    .box-pane-right {
        @include borderRadius(0,0,3px,0);
    }
}
.box-footer {
    @include borderRadius(0,0,3px,3px);
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
}
.chart-legend {
    margin: 10px 0;
    @include screen(991) {
        > li {
            float: left;
            margin-right: 10px;
        }
    }
}
.box-comments {
    background: #f7f7f7;
    .box-comment {
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        &:before,
            &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        &:last-of-type {
            border-bottom: 0;
        }
        &:first-of-type {
            padding-top: 0;
        }
        img {
            float: left;
        }
    }
    .comment-text {
        margin-left: 40px;
        color: #555;
    }
    .username {
        color: #444;
        display: block;
        font-weight: 600;
    }
    .text-muted {
        @include font($fs, 400);
    }
}
/*
 * Component: Info Box
 * -------------------
 */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
    @include borderRadius(2px);
    margin-bottom: 15px;
}
.info-box small {
    @include font($fs + 2);
}
.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
    @include borderRadius(0);
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    @include borderRadius(2px,0,0,2px);
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    @include font($fs * 4 - 3);
    line-height: $lh10 * 9;
    background: rgba(0, 0, 0, 0.2);
}
.info-box-icon > img {
    max-width: 100%;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-number {
    display: block;
    @include font($fs + 6, bold);
}
.progress-description,
.info-box-text {
    @include font($fs + 2, bold);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-more {
    display: block;
}
.progress-description {
    margin: 0;
}
/*datepicker-inline*/
.box {
    .datepicker-inline {
        &,
        .datepicker-days,
        > table,
        .datepicker-days > table {
            width: 100%;
        }
        td:hover,
            .datepicker-days td:hover,
            > table td:hover,
            .datepicker-days > table td:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        td.day.old,
        .datepicker-days td.day.old,
        > table td.day.old,
        .datepicker-days > table td.day.old,
        td.day.new,
        .datepicker-days td.day.new,
        > table td.day.new,
        .datepicker-days > table td.day.new {
            color: #777;
        }
    }
} 
