/*
 * Component: Button
 * -----------------
 */
.btn {
    @include borderRadius(3px);
    @include boxShadow(none);
    border: 1px solid transparent;
    &.uppercase {
        text-transform: uppercase;
    }
    &.btn-flat {
        @include borderRadius(0);
        @include boxShadow(none);
        border-width: 1px;
    }
    &:active {
        @include boxShadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
    }
    &:focus {
        outline: none;
    }
    &.btn-file {
        position: relative;
        overflow: hidden;
        > input[type='file'] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            @include font($fs * 8 + 4);
            text-align: right;
            @include opacity(0);
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    }
    &[class*='bg-'] {
        &:hover {
            @include boxShadow(inset 0 0 100px rgba(0, 0, 0, 0.2));
        }
    }
}
.btn-default {
    background-color: color(pink);
    color: color(white);
    border-color: color(pink);
    &:hover,
        &:active,
        &:active:focus,
        &:focus,
        &.hover {
        background-color: color(pink-light);
        color: color(white); 
    }
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
    &:hover,
        &:active,
        &.hover {
        background-color: #367fa9;
    }
}
.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
    &:hover,
        &:active,
        &.hover {
        background-color: #008d4c;
    }
}
.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
    &:hover,
        &:active,
        &.hover {
        background-color: #00acd6;
    }
}
.btn-danger {
    background-color: #dd4b39;
    border-color: #d73925;
    &:hover,
        &:active,
        &.hover {
        background-color: #d73925;
    }
}
.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
    &:hover,
        &:active,
        &.hover {
        background-color: #e08e0b;
    }
}
.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    &:hover,
        &:focus,
        &:active {
        color: rgba(255, 255, 255, 0.7);
        border-color: rgba(255, 255, 255, 0.7);
    }
}
.btn-link {
    @include boxShadow(none);
}
.btn-app {
    @include borderRadius(3px);
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    @include font($fs);
    > .fa,
    > .glyphicon,
    > .ion {
        @include font($fs * 2 - 4);
        display: block;
    }
    &:hover {
        background: #f4f4f4;
        color: #444;
        border-color: #aaa;
    }
    &:active,
        &:focus {
        @include boxShadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
    }
    > .badge {
        position: absolute;
        top: -3px;
        right: -10px;
        @include font($fs - 2, 400);
    }
}