/*
 * Component: Carousel
 * -------------------
 */
.carousel-control {
    > .fa {
        @include font($fs * 3 + 4);
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
        margin-top: -20px;
    }
    &.left,
    &.right {
        background-image: none;
    }
}