/*
 * Component: Dropdown menus
 * -------------------------
 */
/*Dropdowns in general*/
.dropdown-menu {
    @include boxShadow(none);
    border-color: #eee;
    > li {
        > a {
            color: #777;
            > .glyphicon,
            > .fa,
            > .ion {
                margin-right: 10px;
            }
            &:hover {
                background-color: #e1e3e9;
                color: #333;
            }
        }
    }
    > .divider {
        background-color: #eee;
    }
}
.navbar-nav {
    > .notifications-menu,
    > .messages-menu,
    > .tasks-menu {
        > .dropdown-menu{
            width: 280px;
            padding: 0 0 0 0;
            margin: 0;
            top: 100%;
            > li {
                position: relative;
                &.header {
                    @include borderRadius(4px,4px,0,0);
                    background-color: #ffffff;
                    padding: 7px 10px;
                    border-bottom: 1px solid #f4f4f4;
                    color: #444444;
                    @include font($fs + 2);
                }
                &.footer {
                    > a {
                        @include borderRadius(0,0,4px,4px);
                        @include font($fs);
                        background-color: #fff;
                        padding: 7px 10px;
                        border-bottom: 1px solid #eeeeee;
                        color: #444 !important;
                        text-align: center;
                        @include screen(991) {
                            background: #fff !important;
                            color: #444 !important;
                        }
                        &:hover {
                            text-decoration: none;
                            font-weight: normal;
                        }
                    }
                }
                .menu {
                    max-height: 200px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    overflow-x: hidden;
                    > li {
                        > a {
                            display: block;
                            white-space: nowrap;
                            /* Prevent text from breaking */
                            border-bottom: 1px solid #f4f4f4;
                            &:hover {
                                background: #f4f4f4;
                                text-decoration: none;
                            }
                        }    
                    }
                }
            }
        }    
    }
    > .notifications-menu {
        > .dropdown-menu {
            > li {
                .menu {
                    > li {
                        > a {
                            color: #444444;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: 10px;
                            > .glyphicon,
                            > .fa,
                            > .ion {
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    > .messages-menu {
        > .dropdown-menu {
            > li {
                .menu {
                    > li {
                        > a {
                            margin: 0;
                            padding: 10px 10px;
                            > div {
                                > img {
                                    margin: auto 10px auto auto;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            > h4 {
                                padding: 0;
                                margin: 0 0 0 45px;
                                color: #444444;
                                @include font($fs + 3);
                                position: relative;
                                > small {
                                    color: #999999;
                                    @include font($fs - 2);
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                            }
                            > p {
                                margin: 0 0 0 45px;
                                @include font($fs);
                                color: #888888;
                            }
                            &:before,
                                &:after {
                                content: " ";
                                display: table;
                            }
                            &:after {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
    > .tasks-menu {
        > .dropdown-menu {
            > li {
                .menu {
                    > li {
                        > a {
                            padding: 10px;
                            > h3 {
                                @include font($fs + 2);
                                padding: 0;
                                margin: 0 0 10px 0;
                                color: #666666;
                            }
                            > .progress {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    > .user-menu {
        > .dropdown-menu {
            @include borderRadius(0);
            padding: 1px 0 0 0;
            border-top-width: 0;
            width: 280px;
            &,
            > .user-body {
                @include borderRadius(0,0,4px,4px);
            }
            > li {
                &.user-header {
                    height: 175px;
                    padding: 10px;
                    text-align: center;
                    > img {
                        z-index: 5;
                        height: 90px;
                        width: 90px;
                        border: 3px solid;
                        border-color: transparent;
                        border-color: rgba(255, 255, 255, 0.2);
                    }
                    > p {
                        z-index: 5;
                        color: #fff;
                        color: rgba(255, 255, 255, 0.8);
                        @include font($fs + 5);
                        margin-top: 10px;
                        > small {
                            display: block;
                            @include font($fs);
                        }
                    }
                }
            }
            > .user-body {
                padding: 15px;
                border-bottom: 1px solid #f4f4f4;
                border-top: 1px solid #dddddd;
                &:before,
                    &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                a {
                    color: #444 !important;
                    @include screen(991) {
                        background: #fff !important;
                        color: #444 !important;
                    }
                }
            }
            > .user-footer {
                background-color: #f9f9f9;
                padding: 10px;
                &:before,
                    &:after {
                    content: " ";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                .btn-default {
                    color: #666666;
                    @include screen(991) {
                        &:hover {
                            background-color: #f9f9f9;
                        }
                    }
                }
            }
        }
        .user-image {
            float: left;
            width: 25px;
            height: 25px;
            @include borderRadius(50%);
            margin-right: 10px;
            margin-top: -2px;
            @include screen(767) {
                float: none;
                margin-right: 0;
                margin-top: -8px;
                line-height: $lh10;
            }
        }
    }
}
/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.open:not(.dropup) > .animated-dropdown-menu {
    backface-visibility: visible !important;
    -webkit-animation: flipInX 0.7s both;
    -o-animation: flipInX 0.7s both;
    animation: flipInX 0.7s both;
}
@keyframes flipInX {
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
/* Fix dropdown menu in navbars */
.navbar-custom-menu {
    > .navbar-nav {
        > li {
            position: relative;
            > .dropdown-menu {
                position: absolute;
                right: 0;
                left: auto;
            }
        }
        @include screen(991) {
            float: right;
            > li {
                position: static;
                > .dropdown-menu {
                    position: absolute;
                    right: 5%;
                    left: auto;
                    border: 1px solid #ddd;
                    background: #fff;
                }
            }
        }
    }
}