/*
 * Component: Form
 * ---------------
 */
.form-control {
    @include borderRadius(0);
    @include boxShadow(none);
    border-color: #d2d6de;

    &:focus {
        border-color: #3c8dbc;
        @include boxShadow(none);
    }
    &::-moz-placeholder,
    &:-ms-input-placeholder,
        &::-webkit-input-placeholder {
        color: #bbb;
        @include opacity(1);
    }
    &:not(select) {
        @include appearance(none);
    }
}
.form-group{
    &.has-success {
        label {
            color: #00a65a;
        }
        .form-control,
        .input-group-addon {
            border-color: #00a65a;
            @include boxShadow(none);
        }
        .help-block {
            color: #00a65a;
        }
    }
    &.has-warning {
        label {
            color: #f39c12;
        }
        .form-control,
        .input-group-addon {
            border-color: #f39c12;
            @include boxShadow(none);
        }
        .help-block {
            color: #f39c12;
        }
    }
    &.has-error {
        label {
            color: #dd4b39;
        }
        .form-control,
        .input-group-addon {
            border-color: #dd4b39;
            @include boxShadow(none);
        }
        .help-block {
            color: #dd4b39;
        }
    }
    /* Input group */
    .input-group-addon {
        @include borderRadius(0);
        border-color: #d2d6de;
        background-color: #fff;
    }
}
/* button groups */
.btn-group-vertical {
    .btn{
        &.btn-flat {
            &:first-of-type,
                &:last-of-type {
                @include borderRadius(0);
            }
        }
    }  
} 
.icheck {
    > label {
        padding-left: 0;
    }
}
/* support Font Awesome icons in form-control */
.form-control-feedback {
    &.fa {
        line-height: $lh35 -1;
    }
}
.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
    &.fa {
        line-height: $lh35 + 11;
    }
}
.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
    &.fa {
        line-height: $lh35 - 5;
    }
}
/*
 * Component: Label
 * ----------------
 */
.label-default {
    background-color: #d2d6de;
    color: #444;
}
/*
 * Component: Progress Bar
 * -----------------------
 */
.progress {
    &,
    > .progress-bar {
        @include boxShadow(none);
    }
    > .progress-bar,
    .progress-bar,
    > .progress-bar .progress-bar {
        @include borderRadius(1px);
    }
    /* Vertical bars */
    &.vertical {
        position: relative;
        width: 30px;
        height: 200px;
        display: inline-block;
        margin-right: 10px;
        > .progress-bar {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        &.sm,
        &.progress-sm {
            width: 20px;
        }
        &.xs,
        &.progress-xs {
            width: 10px;
        }
        &.xxs,
        &.progress-xxs {
            width: 3px;
        }
    }
}
/* size variation */
.progress.sm,
.progress-sm {
    height: 10px;
}
.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
    @include borderRadius(1px);
}
.progress.xs,
.progress-xs {
    height: 7px;
}
.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
    @include borderRadius(1px);
}
.progress.xxs,
.progress-xxs {
    height: 3px;
}
.progress.xxs,
.progress-xxs,
.progress.xxs .progress-bar,
.progress-xxs .progress-bar {
    @include borderRadius(1px);
}
.progress-group {
    .progress-text {
        font-weight: 600;
    }
    .progress-number {
        float: right;
    }
}
/* Remove margins from progress bars when put in a table */
.table {
    tr {
        > td {
            .progress {
                margin: 0;
            }
        }
    }
}
.progress-bar-light-blue,
.progress-bar-primary {
    background-color: #3c8dbc;
}
.progress-bar-green,
.progress-bar-success {
    background-color: #00a65a;
}
.progress-bar-aqua,
.progress-bar-info {
    background-color: #00c0ef;
}
.progress-bar-yellow,
.progress-bar-warning {
    background-color: #f39c12;
}
.progress-bar-red,
.progress-bar-danger {
    background-color: #dd4b39;
}
.progress-striped {
    .progress-bar-light-blue,
    .progress-bar-primary {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-green,
    .progress-bar-success {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-aqua,
    .progress-bar-info {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-yellow,
    .progress-bar-warning {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
    .progress-bar-red,
    .progress-bar-danger {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
}