/*
 * Component: Main Header
 * ----------------------
 */
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    .navbar {
        @include transition(margin-left 0.3s ease-in-out);
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 40px;
        border-radius: 0;
        .nav {
            > li {
                &.user > a {
                    > .fa,
                    > .glyphicon,
                    > .ion {
                        margin-right: 5px;
                    }
                }
                > a > .label {
                    position: absolute;
                    top: 9px;
                    right: 7px;
                    text-align: center;
                    @include font($fs - 3);
                    padding: 2px 3px;
                    line-height: .9;
                }
            }
        }
    }
    #navbar-search-input{
        &.form-control {
            background: rgba(255, 255, 255, 0.2);
            border-color: transparent;
            &:focus,
                &:active {
                border-color: rgba(0, 0, 0, 0.1);
                background: rgba(255, 255, 255, 0.9);
            }
            &::-moz-placeholder {
                color: #ccc;
                @include opacity(1);
            }
            &:-ms-input-placeholder {
                color: #ccc;
            }
            &::-webkit-input-placeholder {
                color: #ccc;
            }
        }
    }
    .navbar-custom-menu,
    .navbar-right {
        float: right;
    }
    .sidebar-toggle {
        float: left;
        background-color: transparent;
        background-image: none;
        padding: 10px 15px;
        font-family: fontAwesome;
        &:before {
            content: "\f00d";
        }
        &:hover {
            color: #fff;
        }
        &:focus, &:active {
            background: transparent;
        }
        .icon-bar {
            display: none;
        }
    }
    .logo {
        @include transition(width 0.3s ease-in-out);
        display: block;
        float: left;
        height: 40px;
        @include font($fs + 3, 900);
        line-height: $lh35;
        width: 230px;
        font-family: $ff_black;
        padding: 0 15px;
        overflow: hidden;
        letter-spacing: -0.8px;
        .logo-lg {
            display: block;
        }
        .logo-mini {
            display: none;
        }
    } 
    .navbar-brand {
        color: color(white);
    }
    @include screen(991) {
        .navbar-custom-menu,
        .navbar-right{
            a {
                color: inherit;
                background: transparent;
            }
        }
    }
    @include screen(767) {
        position: relative;
        .navbar-right {
            float: none;
            &  > li {
                color: inherit;
                border: 0;
            }
        }
        .logo,
        .navbar {
            width: 100%;
            float: none;
        }
        .navbar {
            margin: 0;
        }
        .navbar-custom-menu {
            float: right;
        }
    }
}
.layout-top-nav {
    .main-header {
        .navbar {
            margin-left: 0;
        }
    }
}
@include screen(767) {
    .navbar-collapse {
        .main-header {
            .navbar-right {
                margin: 7.5px -15px;
            }
        }
    }
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
    > h1 {
        margin: 0;
        @include font($fs * 2);
        & > small {
            @include font($fs + 3, 300);
            display: inline-block;
            padding-left: 4px;
        }
    }
    > .breadcrumb {
        float: right;
        background: transparent;
        margin-top: 0;
        margin-bottom: 0;
        @include font($fs);
        padding: 7px 5px;
        position: absolute;
        top: 15px;
        right: 10px;
        @include borderRadius(2px);
        & > li {
            > a {
                color: #444;
                text-decoration: none;
                display: inline-block;
                & > .fa,
                & > .glyphicon,
                & > .ion {
                    margin-right: 5px;
                }

            }
            + li{
                &:before {
                    content: '>\00a0';
                }
            } 
        }
    }
    @include screen(991) {
        > .breadcrumb {
            position: relative;
            margin-top: 5px;
            top: 0;
            right: 0;
            float: none;
            background: #d2d6de;
            padding-left: 10px;
            li {
                &:before {
                    color: #97a0b3;
                }
            }
        }
    }
}
.navbar-toggle {
    color: color(white);
    border: 0;
    margin: 0;
    padding: 15px 15px;
}
@include screen(991) {
    .navbar-custom-menu {
        .navbar-nav {
            margin: 0;
            float: left;
            > li {
                float: left;
                > a {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    line-height: $lh20;
                }
            }
        }
    }
    .navbar-collapse{
        &.pull-left {
            float: none !important;
            & + .navbar-custom-menu {
                display: block;
                position: absolute;
                top: 0;
                right: 40px;
            }
        }
    }
}