/*
 * Component: Users List
 * ---------------------
 */
.users-list {
    > li {
        width: 25%;
        float: left;
        padding: 10px;
        text-align: center;
        img {
            @include borderRadius(50%);
            max-width: 100%;
            height: auto;
        }
        > a{
            &:hover,
                &:hover .users-list-name {
                color: #999;
            }
        }
    }
}
.users-list-name,
.users-list-date {
    display: block;
}
.users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.users-list-date {
    color: #999;
    @include font($fs);
}
/*
 * Component: Products List
 * ------------------------
 */
.products-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > .item {
        @include borderRadius(3px);
        @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
        padding: 10px 0;
        background: #fff;
        &:before,
            &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    .product-img {
        float: left;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .product-info {
        margin-left: 60px;
    }
    .product-title {
        font-weight: 600;
    }
    .product-description {
        display: block;
        color: #999;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.product-list-in-box {
    > .item {
        @include boxShadow(none);
        @include borderRadius(0);
        border-bottom: 1px solid #f4f4f4;
        &:last-of-type {
            border-bottom-width: 0;
        }
    }
}