/*
 * Component: modal
 * ----------------
 */
.modal {
    background: rgba(0, 0, 0, 0.3);
}
.modal-content {
    @include borderRadius(0);
    @include boxShadow(0 2px 3px rgba(0, 0, 0, 0.125));
    border: 0;
    @include min-screen(768) {
        @include boxShadow(0 2px 3px rgba(0, 0, 0, 0.125));
    }
}
.modal-header {
    border-bottom-color: #f4f4f4;
}
.modal-footer {
    border-top-color: #f4f4f4;
}
.modal-primary {
    .modal-header,
    .modal-footer {
        border-color: #307095;
    }
}
.modal-warning {
    .modal-header,
    .modal-footer {
        border-color: #c87f0a;
    }
}
.modal-info {
    .modal-header,
    .modal-footer {
        border-color: #0097bc;
    }
}
.modal-success {
    .modal-header,
    .modal-footer {
        border-color: #00733e;
    }
}
.modal-danger {
    .modal-header,
    .modal-footer {
        border-color: #c23321;
    }
}