/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    @include transition(transform 0.3s ease-in-out, width 0.3s ease-in-out);
    @include screen(767) {
        padding-top: 100px;
        @include transform(translate(-230px, 0));
    }
}
@include min-screen(768) {
    .sidebar-collapse{
        .main-sidebar {
            @include transform(translate(-230px, 0));
        }
    }
}
@include screen(767) {
    .sidebar-open{
        .main-sidebar {
            @include transform(translate(0, 0));
        }
    }
}
.sidebar {
    padding-bottom: 10px;
}
.sidebar-form {
    input{
        &:focus {
            border-color: transparent;
        }
    }
}
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    > .image{
        > img {
            width: 100%;
            max-width: 45px;
            height: auto;
        }    
    }
    > .info {
        padding: 5px 5px 5px 15px;
        line-height: 1;
        position: absolute;
        left: 55px;
        > p {
            font-weight: 600;
            margin-bottom: 9px;
        }
        > a {
            text-decoration: none;
            padding-right: 5px;
            margin-top: 3px;
            @include font($fs - 1);
            > .fa,
            > .ion,
            > .glyphicon {
                margin-right: 3px;
            }
        }
    } 
}
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        position: relative;
        margin: 0;
        padding: 0;
        > a {
            padding: 12px 5px 12px 15px;
            display: block;
            > .fa,
            > .glyphicon,
            > .ion {
                width: 20px;
            }
        }
        .label,
        .badge {
            margin-right: 5px;
        }
        .badge {
            margin-top: 3px;
        }
    }
    li.header {
        padding: 10px 25px 10px 15px;
        @include font($fs);
    }
    li > a {
        > .fa-angle-left,
        > .pull-right-container > .fa-angle-left {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
            @include transition(transform 0.5s ease);
        }
        > .fa-angle-left {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
        }
    }
    .menu-open {
        > a {
            > .fa-angle-left,
            > .pull-right-container > .fa-angle-left {
                @include transform(rotate(-90deg));
            }
        }
    }
    .active > .treeview-menu {
        display: block;
    }
}
/*
 * Component: Sidebar Mini
 */
.sidebar-mini {
    @include min-screen(768) {
        &.sidebar-collapse {
            .content-wrapper,
            .right-side,
            .main-footer {
                margin-left: 50px !important;
                z-index: 840;
            }
            .main-sidebar {
                @include transform(translate(0, 0));
                width: 50px !important;
                z-index: 850;
            }
            .sidebar-menu {
                > li {
                    position: relative;
                    > a {
                        margin-right: 0;
                        > span {
                            @include borderRadius(0,4px,0,0);
                        }
                    }
                    &:not(.treeview) > a > span {
                        @include borderRadius(0,0,4px,0);
                    }
                    > .treeview-menu {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        @include borderRadius(0,0,4px,0);
                    }
                }
            }
            .main-sidebar .user-panel > .info,
            .sidebar-form,
            .sidebar-menu > li > a > span,
            .sidebar-menu > li > .treeview-menu,
            .sidebar-menu > li > a > .pull-right,
            .sidebar-menu li.header {
                display: none !important;
                @include transform(translateZ(0));
            }
            .main-header {
                .logo {
                    width: 50px;
                    > .logo-mini {
                        display: block;
                        margin-left: -15px;
                        margin-right: -15px;
                        @include font($fs + 6);
                    }
                    > .logo-lg {
                        display: none;
                    }
                }
                .navbar {
                    margin-left: 50px;
                }
            }
        }  
    }
    &:not(.sidebar-mini-expand-feature) {
        &.sidebar-collapse {
            .sidebar-menu {
                > li {
                    &:hover {
                        > a > span:not(.pull-right),
                            > .treeview-menu {
                            display: block !important;
                            position: absolute;
                            width: 180px;
                            left: 50px;
                        }
                        > a {
                            > span {
                                top: 0;
                                margin-left: -3px;
                                padding: 12px 5px 12px 20px;
                                background-color: inherit;
                            }
                            > .pull-right-container {
                                position: relative !important;
                                float: right;
                                width: auto !important;
                                left: 180px !important;
                                top: -22px !important;
                                z-index: 900;
                                > .label{
                                    &:not(:first-of-type) {
                                        display: none;
                                    }
                                }
                            }
                        }
                        > .treeview-menu {
                            top: 44px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.sidebar-expanded-on-hover {
    .main-footer,
    .content-wrapper {
        margin-left: 50px;
    }
    .main-sidebar {
        @include boxShadow(3px 0 8px rgba(0, 0, 0, 0.125));
    }
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}
.sidebar-form,
.sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}
.sidebar-menu{
    &:hover {
        overflow: visible;
        li {
            > a {
                position: relative;
                > .pull-right-container {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    margin-top: -7px;
                }
            }

        }
    }
}

/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */
.control-sidebar-bg {
    position: fixed;
    z-index: 1000;
    bottom: 0;
}
.control-sidebar-bg,
.control-sidebar {
    top: 0;
    right: -230px;
    width: 230px;
    @include transition(right 0.3s ease-in-out);
}
.control-sidebar {
    position: absolute;
    padding-top: 50px;
    z-index: 1010;
    @include screen(768) {
        padding-top: 100px;
    }
    > .tab-content {
        padding: 10px 15px;
    }
    &.control-sidebar-open,
    &.control-sidebar-open + .control-sidebar-bg {
        right: 0;
    }
}
.control-sidebar-open {
    .control-sidebar-bg,
    .control-sidebar {
        right: 0;
    }
    @include min-screen(768) {
        .content-wrapper,
        .right-side,
        .main-footer {
            margin-right: 230px;
        }
    }
}
.fixed {
    .control-sidebar {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 50px;
    }
} 
.nav-tabs{
    &.control-sidebar-tabs {
        > li {
            &:first-of-type {
                > a {
                    border-left-width: 0;
                    &:hover,
                        &:focus {
                        border-left-width: 0;
                    } 
                }     
            }
            > a {
                @include borderRadius(0);
                border-top: none;
                border-right: none;
                border-left: 1px solid transparent;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-top: none;
                    border-right: none;
                    border-left: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                }
                .icon {
                    @include font($fs + 4);
                }
            }
            &.active > a {
                border-top: none;
                border-right: none;
                border-bottom: none;
                &:hover,
                    &:focus,
                    &:active {
                    border-top: none;
                    border-right: none;
                    border-bottom: none;
                }
            }
        }
        @include screen(768) {
            display: table;
            > li {
                display: table-cell;
            }
        }
    }
}

.control-sidebar-heading {
    @include font($fs + 4, 400);
    padding: 10px 0;
    margin-bottom: 10px;
}
.control-sidebar-subheading {
    display: block;
    @include font($fs + 2, 400);
}
.control-sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    > li {
        > a {
            display: block;
            padding: 10px 15px;
            &:before,
                &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }
            > .control-sidebar-subheading {
                margin-top: 0;
            }
        }
    }
    .menu-icon {
        float: left;
        width: 35px;
        height: 35px;
        @include borderRadius(50%);
        text-align: center;
        line-height: $lh35;
    }
    .menu-info {
        margin-left: 45px;
        margin-top: 3px;
        > .control-sidebar-subheading {
            margin: 0;
        }
        > p {
            margin: 0;
            @include font($fs - 1);
        }
    }
    .progress {
        margin: 0;
    }
}
.control-sidebar-dark {
    color: #b8c7ce;
    &,
    & + .control-sidebar-bg {
        background: #222d32;
    }
    .nav-tabs {
        &.control-sidebar-tabs {
            border-bottom: #1c2529;
            > li {
                > a {
                    background: #181f23;
                    color: #b8c7ce;
                    &,
                    &:hover,
                        &:focus {
                        border-left-color: #141a1d;
                        border-bottom-color: #141a1d;
                    }
                    &:hover,
                        &:focus,
                        &:active {
                        background: #1c2529;
                    }
                    &:hover {
                        color: #fff;
                    }
                }
                &.active {
                    > a {
                        &,
                        &:hover,
                            &:focus,
                            &:active {
                            background: #222d32;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .control-sidebar-heading,
    .control-sidebar-subheading {
        color: #fff;
    }
    .control-sidebar-menu {
        > li {
            > a{
                &:hover {
                    background: #1e282c;
                }
                .menu-info {
                    > p {
                        color: #b8c7ce;
                    }
                }
            }
        }
    }
}
.control-sidebar-light {
    color: #5e5e5e;
    &,
    & + .control-sidebar-bg {
        background: #f9fafc;
        border-left: 1px solid #d2d6de;
    }
    .nav-tabs {
        &.control-sidebar-tabs {
            border-bottom: #d2d6de;
            > li {
                > a {
                    background: #e8ecf4;
                    color: #444444;
                    &,
                    &:hover,
                        &:focus {
                        border-left-color: #d2d6de;
                        border-bottom-color: #d2d6de;
                    }
                    &:hover,
                        &:focus,
                        &:active {
                        background: #eff1f7;
                    }
                }
                &.active {
                    > a {
                        &,
                        &:hover,
                            &:focus,
                            &:active {
                            background: #f9fafc;
                            color: #111;
                        }
                    }
                }
            }
        }
    }
    .control-sidebar-heading,
    .control-sidebar-subheading {
        color: #111;
    }
    .control-sidebar-menu {
        margin-left: -14px;
        > li {
            > a {
                &:hover {
                    background: #f4f4f5;
                }
                .menu-info {
                    > p {
                        color: #5e5e5e;
                    }    
                }
            }
        }
    }
}