/*
 * Component: Table
 * ----------------
 */
.table {
    > thead,
    > tbody,
    > tfoot{
        > tr {
            > th,
            > td{
                border-top: 1px solid #f4f4f4;
            }
        }
    }
    > thead {
        > tr {
            > th {
                border-bottom: 2px solid #f4f4f4;
            }
        }
    }
    tr {
        td {
            .progress {
                margin-top: 5px;
            }
        }
    }
    &.no-border{
        &,
        & td,
        & th {
            border: 0;
        }
    }
    /* .text-center in tables */
    &.text-center{
        &,
        & td,
        & th {
            text-align: center;
        }
    }
    &.align {
        th {
            text-align: left;
        }
        td {
            text-align: right;
        }
    } 
}
.table-bordered {
    border: 1px solid #f4f4f4;
    > thead,
    > tbody,
    > tfoot{
        > tr {
            > th,
            > td {
                border: 1px solid #f4f4f4;
            }
        }
    }
    > thead {
        > tr {
            > th,
            > td {
                border-bottom-width: 2px;
            }
        }
    }
}
