/*
 * Component: Timeline
 * -------------------
 */
.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #ddd;
        left: 31px;
        margin: 0;
        @include borderRadius(2px);
    }
    > li {
        position: relative;
        margin-right: 10px;
        margin-bottom: 15px;
        &:before,
            &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        > .timeline-item {
            @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
            @include borderRadius(3px);
            margin-top: 0;
            background: #fff;
            color: #444;
            margin-left: 60px;
            margin-right: 15px;
            padding: 0;
            position: relative;
            > .time {
                color: #999;
                float: right;
                padding: 10px;
                @include font($fs);
            }
            > .timeline-header {
                margin: 0;
                color: #555;
                border-bottom: 1px solid #f4f4f4;
                padding: 10px;
                @include font($fs + 4);
                line-height: 1.1;
                > a {
                    font-weight: 600;
                }
            }
            > .timeline-body,
            > .timeline-footer {
                padding: 10px;
            }
        }
        > .fa,
        > .glyphicon,
        > .ion {
            width: 30px;
            height: 30px;
            @include font($fs + 3);
            line-height: $lh35 - 5;
            position: absolute;
            color: #666;
            background: #d2d6de;
            @include borderRadius(50%);
            text-align: center;
            left: 18px;
            top: 0;
        }
    }
    > .time-label {
        > span {
            font-weight: 600;
            padding: 5px;
            display: inline-block;
            background-color: #fff;
            @include borderRadius(4px);
        }
    }
}
.timeline-inverse {
    > li {
        > .timeline-item {
            background: #f0f0f0;
            border: 1px solid #ddd;
            @include boxShadow(none);
            > .timeline-header {
                border-bottom-color: #ddd;
            }
        }
    }
}