/*
 * Plugin: Full Calendar
 * ---------------------
 */
.fc-button {
    background: #f4f4f4;
    background-image: none;
    color: #444;
    border-color: #ddd;
    border-bottom-color: #ddd;
    &:hover,
        &:active,
        &.hover {
        background-color: #e9e9e9;
    }
}
.fc-header-title {
    h2 {
        @include font($fs + 3);
        line-height: $fs1em + .6;
        color: #666;
        margin-left: 10px;
    }
}
.fc-header-right {
    padding-right: 10px;
}
.fc-header-left {
    padding-left: 10px;
}
.fc-widget-header {
    background: #fafafa;
}
.fc-grid {
    width: 100%;
    border: 0;
}
.fc-widget-header:first-of-type,
.fc-widget-content:first-of-type {
    border-left: 0;
    border-right: 0;
}
.fc-widget-header:last-of-type,
.fc-widget-content:last-of-type {
    border-right: 0;
}
.fc-toolbar {
    padding: 10px;
    margin: 0;
}
.fc-day-number {
    @include font($fs * 2 - 4, 300);
    padding-right: 10px;
}
.fc-color-picker {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        float: left;
        @include font($fs * 3 - 6);
        margin-right: 5px;
        line-height: $fs * 3 - 6;
        .fa {
            @include transition(transform linear 0.3s);
            &:hover {
                @include transform(rotate(30deg));
            }
        }
    }
}
#add-new-event {
    @include transition(all linear 0.3s);
}
.external-event {
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    @include boxShadow(0 1px 1px rgba(0, 0, 0, 0.1));
    @include borderRadius(3px);
    cursor: move;
    &:hover {
        @include boxShadow(inset 0 0 90px rgba(0, 0, 0, 0.2));
    }
}