@import "scss/colors";
@import "scss/fonts";
@import "scss/mixins";
.skin-eticket {
    &.fixed {
        @include screen(767){
            .content-wrapper {
                padding-top: 40px;
            }
        }
        &.timer_bottom {
            .control-sidebar-bg, .control-sidebar {
                @include calc('height', '100% - 53px');
            }
        }
    }
    strong {
        font-family: $ff_bold;
    }
    .main-header,
    .main-sidebar {
        .logo {
            background-color: color(black);
            border-bottom: 0 solid transparent;
            text-transform: uppercase;
            position: relative;
            a {
                color: color(pink-light);
                b {
                    color: color(white);
                }    
            }
        }
    }
    @import "scss/eticket/main_header";
    @import "scss/eticket/main_sidebar";
    @import "scss/eticket/form";
    @import "scss/eticket/select2";
    @import "scss/eticket/cke";
    @import "scss/eticket/table";
    @import "scss/eticket/tabs";
    @import "scss/eticket/content";
    @import "scss/eticket/button";
    @import "scss/eticket/box";
    @import "scss/eticket/scheduler";
    .chart {
        .chart-control {
            margin: 10px auto 0;
            .btn {
                margin: 10px 8.5px;
            }
        }
    }
    .bg-mint {
        background-color: color(mint) !important;
    }
    .bg-sky {
        background-color: color(sky) !important;
    }
    .bg-sun {
        background-color: color(sun) !important;
    }
    .bg-lime-white {
        background-color: color(lime-white) !important;
    }
    .bg-white {
        background-color: color(white) !important;
    }
    .bg-violet {
        background-color: color(violet) !important;
    }
    .bg-lime-green {
        background-color: color(lime-green) !important;
    }
    .bg-green-lighter {
        background-color: color(green-lighter) !important;
    }
    .bg-red-lighter {
        background-color: color(red-lighter) !important;
    }
    .color_black {
        color: color(black);
    }
    .color_pink {
        color: color(pink);
    }
    .color_blue {
        color: color(blue);
    }
    .like {
        color: color(yellow-light);
    }
    .advance {
        color: color(mint-lighter);
    }
    .bull {
        color: color(green-light);
    }
    .statistics {
        .select2-container {
            margin-right: 40px;
        }
        .table {
            margin-top: 16px;
            a {
                margin-right: 15px;
            }
        }
        .list-group {
            .list-group-item {
                border: 0;
                color: color(silver);
                padding: 10px 20px;
                &:first-child {
                    padding-top: 17px;
                }
                &:last-child {
                    padding-bottom: 25px;
                }
            }
        }
    }
}
@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}
@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}