/* Content */
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*
 * Content Wrapper - contains the main content
 */
.content-wrapper,
.main-footer {
    @include transition(transform 0.3s ease-in-out, margin 0.3s ease-in-out);
    margin-left: 230px;
    z-index: 820;
}
.layout-top-nav{
    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }
}
@include screen(767) {
    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }
    .sidebar-open .content-wrapper,
    .sidebar-open .main-footer {
        @include transform(translate(230px, 0));
    }
}
@include min-screen(768) {
    .sidebar-collapse {
        .content-wrapper,
        .main-footer {
            margin-left: 0;
        }
    }
}

.content-wrapper {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}