/* Fixed layout */
.fixed {
    .main-header,
    .main-sidebar,
    .left-side {
        position: fixed;
    }
    .main-header {
        top: 0;
        right: 0;
        left: 0;
    }
    .content-wrapper,
    .right-side {
        padding-top: 50px;
    }
    .wrapper {
        overflow: hidden;
    }
    &.layout-boxed {
        .wrapper {
            max-width: 100%;
        }
    }
    @include screen(767) {
        .content-wrapper,
        .right-side {
            padding-top: 100px;
        }
    }
}

.hold-transition {
    .content-wrapper,
    .right-side,
    .main-footer,
    .main-sidebar,
    .left-side,
    .main-header .navbar,
    .main-header .logo,
    .menu-open .fa-angle-left {
        @include transition(none);
    }
}