/* Layout */
.wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    &:before,
        &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.layout-boxed {
    background: url('../img/boxed-bg.jpg') repeat fixed;
    .wrapper {
        max-width: 1250px;
        margin: 0 auto;
        min-height: 100%;
        @include boxShadow(0 0 8px rgba(0, 0, 0, 0.5));
        position: relative;
    }
}