/*
 * Misc: print
 * -----------
 */
@media print {
    .no-print,
    .main-sidebar,
    .left-side,
    .main-header,
    .content-header {
        display: none !important;
    }
    .content-wrapper,
    .right-side,
    .main-footer {
        margin-left: 0 !important;
        min-height: 0 !important;
        @include transform(translate(0, 0) !important);
    }
    .fixed {
        .content-wrapper,
        .right-side {
            padding-top: 0 !important;
        }   
    }
    .invoice {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
    }
    .invoice-col {
        float: left;
        width: 33.3333333%;
    }
    .table-responsive {
        overflow: auto;
        > .table {
            tr {
                th,
                td {
                    white-space: normal !important;
                }   
            }  
        } 
    }
}
