// font-size
$fs : 12;
$fs1em : 1em;
// line-height
$lh10 : 10px;
$lh20 : 20px;
$lh35 : 35px; 

$ff_regular : "GothamProRegular";
$ff_bold : "GothamProBold";
$ff_black : "GothamProBlack";
$ff_italic : "GothamProItalic";
$ff_medium : "GothamProMedium";
$ff_light : "GothamProLight";
$ff_medium_italic : "GothamProMediumItalic";
$ff_light_italic : "GothamProLightItalic";
$ff_bold_italic : "GothamProBoldItalic";
$ff_black_italic : "GothamProBlackItalic";