html,
body {
    height: 100%;
}
.layout-boxed html,
.layout-boxed body {
    height: 100%;
}
body {
    font-family: $ff_regular;
    @include font($fs, 400);
    overflow-x: hidden;
    overflow-y: auto;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $ff_regular;
}
/* General Links */
a {
    color: #337ab7;
}
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: #23527c;
}
/*parts*/
@import "parts/layout.scss";
@import "parts/content.scss";
@import "parts/fixed.scss";
/*component*/
@import "component/header";
@import "component/sidebar";
@import "component/dropdown_menu";
@import "component/form";
@import "component/box";
@import "component/button";
@import "component/alert";
@import "component/nav";
@import "component/table";
@import "component/chat";
@import "component/todo";
@import "component/timeline";
@import "component/callout";
@import "component/list";
@import "component/modal";
@import "component/carousel";
@import "component/bootstrap_social";
/*plugin*/
@import "plugin/select2";
@import "plugin/fc";
@import "miscellaneous";
@import "parts/print";