$prefixes: -webkit-, -moz-, -o-, -ms-, "";

@mixin font($pixels, $weight : normal) {
    // $fs-> parts/_fonts.scss
    font-size: $pixels + px;
    //font-size: ( $pixels / $fs ) + rem;
    font-weight: $weight;
}

@mixin animation($animation...) {
    @each $prefix in $prefixes {
        #{$prefix}animation: $animation;
    }
}

@mixin appearance($appearance...) {
    @each $prefix in $prefixes {
        #{$prefix}appearance: $appearance;
    }
}

@mixin boxShadow($boxshadow...) {
    @each $prefix in $prefixes {
        #{$prefix}box-shadow: $boxshadow;
    }
}

@mixin borderRadius($size...) {
    @if length($size) == 1 {
        @each $prefix in $prefixes {
            #{$prefix}border-radius: $size;
        }
    } @else {
        @include customBorderRadius($size...);
    }
}

@mixin customBorderRadius($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
    @each $prefix in $prefixes {
        @if $prefix == "-moz-" {
            @if $topLeft != 0 { -moz-border-radius-topleft: $topLeft; }
            @if $topRight != 0 { -moz-border-radius-topright: $topRight; }
            @if $bottomRight != 0 { -moz-border-radius-bottomright: $bottomRight; }
            @if $bottomLeft != 0 { -moz-border-radius-bottomleft: $bottomLeft; }
        } @else {
            @if $topLeft != 0 { #{$prefix}border-top-left-radius: $topLeft; }
            @if $topRight != 0 { #{$prefix}border-top-right-radius: $topRight; }
            @if $bottomRight != 0 { #{$prefix}border-bottom-right-radius: $bottomRight; }
            @if $bottomLeft != 0 { #{$prefix}border-bottom-left-radius: $bottomLeft; }
        }
    }
}

@mixin transition($transition...) {
    @each $prefix in $prefixes {
        #{$prefix}transition: $transition;
    }
}

@mixin transform($transform) {
    @each $prefix in $prefixes {
        #{$prefix}transform: $transform;
    }
}

@mixin opacity($opacity){
    $IEValue: $opacity*100;
    opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin clearFix(){
    &:before,
        &:after{
        content: " "; 
        display: table; 
    }

    &:after{
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }
    &{
        *zoom: 1;
    }
}

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}


$units: 1px !default;

@mixin screen($res-first, $res-last: $res-first){
    @if $res-first == $res-last {
        @media screen and ( max-width: if(unitless($res-first), $res-first*$units, $res-first) )
            {
            @content;
        }
    } @else if $res-first < $res-last{
        @media screen and ( min-width: if(unitless($res-first), $res-first*$units, $res-first) ) and ( max-width: if(unitless($res-last), $res-last*$units, $res-last) )
            {
            @content;
        }
    }
}

@mixin min-screen($res){
    @media screen and ( min-width: if(unitless($res), $res*$units, $res) ){
        @content;
    }
}
